    @foreach (var noiceitem in Model.NoiceTexts)
    {
        <tr class="text-white">
            <td><i class="fa-solid fa-flag fa-2x"></i></td>
            <td>------------------------></td>
            <td>Duyuru</td>
            <td>@Html.Raw(noiceitem.NoiceContent)</td>
            <td style="width: 60px;">
                @if (noiceitem.IsHome)
                {
                    <i class="fas fa-check-circle text-success"></i>
                }
                else
                {
                    <i class="fas fa-times-circle text-danger"></i>
                }
            </td>
            <td style="width: 150px;">
                <a href="/Admin/NoiceTextEdit/@noiceitem.NoiceId" class="btn btn-warning btn-sm mr-2">Edit</a>
            </td>
        </tr>
    }