.wrapper {
    height: auto;
    background-color:#15202B;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
.typing-demo {
width: 100%;
animation: typing 8s steps(45), blink .5s step-end infinite alternate;
white-space: nowrap;
overflow:hidden;
border-right: 10px solid;
color: #00ff00;
text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
font-family: 'VT323', monospace, sans-serif;
font-size: 1.2em;
}
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }